html {
    font-size: 22px;
}

body {
    background-color: #0e0d0d;
    color: whitesmoke;
}



        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #070707;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        main {
            padding: 20px;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    
